{% extends base %}

{% block extra_styles %}
	<style>
	.article-container {display: inline-block;}
	.article-container:not(:first-child) {margin-top: 2em;padding-top: 2em;border-top: 0.15em dotted #e1e1e1;}
	.time-container {margin-bottom: 1em;}
	.article-text-container .article-title {font-weight: normal;margin-bottom: 0.6em;}
	.article-text-container p {line-height: normal;font-weight: 100;}
	.article-text-container .author {font-style: italic;font-weight: 100;}
	.article-text {margin-top: 1em;}
	.ellipsis {height:3em;}
	.ellipsis .readmore {color:#c275b1;font-style: italic;display: none;}
	.ellipsis .readmore:hover {text-decoration: underline;}
	{% if not mobile %}
		.article-image-container {display: table-cell;}
		.article-text-container {display: table-cell;vertical-align: middle;}
		.article-image-container img {height:8em;width:12em;display: block;}
		.article-text-container .article-bubble {margin-left: 1em;}
	{% else %}
		.article-image-container {display: block;}
		.article-text-container {display: block;}
		.article-image-container img {width:75%;height:auto;display: block;}
		.article-container {padding-bottom:1em;}
		.article-title {margin-top:0.6em;}
		.article-text,.author,.ellipsis {display:none;}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<ul id="articles">
		{% for item in articles_data %}
			<li class="article-container">
				<div class="time-container"><time class="time small-text" datetime="{{ item.date_time }}" pubdate="pubdate">{{ item.visible_date }}</time></div>
				<div class="article-image-container">
					<a href="{{ item.url }}">
						<img src="{{ item.img_url }}" alt="{{ item.img_alt }}">
					</a>
				</div>
				<div class="article-text-container">
					<div class="article-bubble">
						<a href="{{ item.url }}">
							<h2 class="article-title big-text">{{ item.title }}</h2>
						</a>
						<p class="author small-text">{{ item.author }}</p>
						<div class="ellipsis" style="word-wrap: break-word;"><p class="article-text">{{ item.article_text|default('Check out the ' ~ item.title ~ '...' ) }} <a class="readmore" href="{{ item.url }}" style="display: inline;">continue reading</a></p></div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}