{% extends base %}

{% block extra_styles %}
	<style>
	.page-title {margin-top:0.8em;}
	#page-description-container p {line-height:2;font-weight: 100;margin-top:1.3em;}
	#page-description-container a {color: #428bca;font-weight: 400;}
	#page-description-container a:hover {color:#4c6496;text-decoration: underline;}
	#page-description-container .addthis_native_toolbox {margin-top: 1em;}
	#email-error,#captcha-error {color:red;display:none;}
	#main-content .header {font-size: 1.1em;margin-top:2em;margin-bottom:1em;}
	#main-content .select-option {font-size: 1.4em;margin-top:2em;margin-bottom:1em;}
	#main-content select {margin-bottom:0.5em;height:1.5em;width:10.8em;font-size: 1em;text-align: center;}
	#main-content p {line-height: 1.5;}
	#main-content #result {width:10em;}
	.button-switch {text-align: center;display:table;width:100%;margin-top:1em;margin-bottom: 1em;}
	#page-description-container .consultation-tag-line {color:#c275b1;font-size:2.8em;line-height:1.3;font-weight: bolder;margin-top:0.5em;margin-bottom:0.5em;}
	#page-description-container .consultation-description {line-height:1.3;font-size:2.1em;margin-top:0;}
	#page-description-container .consultation-description span {color:#c275b1;}
	.wrapper {clear: both; padding-top: 2em;}
	.box-border {border:0.1em solid #c275b1; padding:1em;}
	#main-content .privacy-policy .header, #main-content .client-statement .header {margin: 0;}
	#main-content .privacy-policy-button {margin-top:3em;}
	.hide {display: none;}
	.kelly-pic {float:right;padding:1.5em 0 0 1.5em;}
	.yes-button, .no-button {display:table-cell;width:50%;cursor:pointer;}
	.button:hover {cursor: pointer;}
	.pay-button:hover {cursor:pointer;}
	.yes-button {border-right-width:0.0625em; }
	.no-button {border-left-width:0.0625em; }
	.active-button {background-color:#c275b1;color:white;}
	.centered {text-align: center;}
	.graph-table-container {text-align: center;display:none;}
	.graph-button, .graph-table-button {display:inline-block;width:45%;cursor:pointer;}
	.graph-button {margin-right:0.5em;}
	.graph-table-button {margin-left:0.5em;}

	#main-content #radiobuttons input {width:1em;height:1em;}
	#main-content #radiobuttons input:last-of-type {margin-left:1em;}
	.input-row {margin:0.5em 2em 0.5em 0;position: relative;display: inline-block;}
	/*#input-div input {margin-left:0.3em;}*/
	#input-div p {margin:0.5em 0 0.3em 0;}
	#input-div input {margin-bottom:0.5em;}
	#input-div .health-concerns input {width:50%;min-width:12em;}
	.height-div {margin-top: 0.5em;}
	/*#input-div span {display: inline-block;width:16em;font-size: 1em;font-weight: 100;}*/
	.check-mark-container {display: none;vertical-align: middle;}
	.check-mark-container img {height: 1.4em;width: auto;display: block;margin-left:0.3em;}
	/*#note {line-height: 1.2;font-weight: 100;margin-top: 1.2em;display: inline-block;}*/
	#note {line-height: 1.2;font-weight: 100;display: inline-block;}
	#note span {line-height: 1.2;font-weight: normal;}

	.hover:hover {background-color: #c275b1;color:white;}

	#consultation-options tr td {vertical-align: middle;padding:0.7em 0.2em;}
	#consultation-options tr:last-child td span {font-size:1.5em;font-weight: bold;}
	#consultation-options th {font-weight: bold;font-size:1.1em;}
	#main-content .options-text {font-size: 2.5em;text-align: center;}

	#main-content table {width:100%;}
	#main-content table input {width:90%;text-align: center;border:none;}

	#main-content table th {font-weight:normal;padding:0.35em;background-color: #e2e2e2;border-bottom:0.125em solid #333333;}
	#main-content table td {padding:0.2em 0.3em 0 0.3em;text-align: center;}
	#main-content table td:not(:last-child) {border-right:0.125em solid #333333;}
	#main-content table th:not(:last-child) {border-right:0.125em solid #333333;}
	#main-content table tr:not(:last-child) td{border-bottom:0.125em solid #333333;}

	#loading-image {display:none;z-index:21;z-index: 21;height: 30%;width: auto;position:fixed;top: 30%;left: 40%;}
	.darkClass {display: none;background-color: white;filter:alpha(opacity=50); opacity: 0.5;
	    -moz-opacity:0.50;z-index: 20;height: 100%;width: 100%;background-repeat:no-repeat;background-position:center;position:fixed;top: 0px;left: 0px;}

	.button-switch {text-align: center;display:table;width:100%;margin-bottom: 1em;}
	.button {color:#c275b1;font-weight:normal;border:0.125em solid #c275b1;margin:0.7em 0;padding:0.5em 0.2em;text-align:center;
	    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;}

	.button-switch div {display:table-cell;width:33%;cursor:pointer;}
	.button-switch .left-button {border-right-width:0.0625em;}
	.button-switch .middle-button {border-left-width:0.0625em;border-right-width:0.0625em; }
	.button-switch .right-button {border-left-width:0.0625em;}
	.active-button {background-color:#c275b1;color:white;}

	.pay-button {font-size:1.1em;color:#c275b1;font-weight:700;border:0.125em solid #c275b1;margin:0.7em 0 0.7em 0;padding:0.5em 0.2em;text-align:center;
	    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;width:18em;background-color:white;}

	.selected {background-color: #c275b1;color:white;}
	{% if mobile %}
		#main-content select {max-width:5em;}
		#main-content table input {max-width:7.5em;min-width:6em;}
		#main-content textarea {width:100%;}
		#page-description-container .consultation-tag-line {font-size:1.5em;line-height:1.3;}
		#page-description-container .consultation-description {line-height:1.3;font-size:1.2em;margin-top:0;}
		#main-content .options-text {font-size: 1.3em;}
		#consultation-options tr td {vertical-align: middle;padding:0.3em 0.2em;font-size:0.9em;}
		#consultation-options tr:last-child td span {font-size:0.9em;font-weight: bold;}
		#consultation-options th {font-weight: bold;font-size:0.9em;}
		#consultation-options img {max-width:1.8em;}

		table th {font-size:0.9em;font-weight:normal;padding:0.2em;}
		table td {font-size:0.9em;padding:0.1em 0.2em 0 0.2em;}
		.button {border:0.1 solid #c275b1;padding:0.3em 0.1em;}
	{% endif %}
	</style>
{% endblock %}

{% block extra_head %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block body %}
<div id="darkLayer" class="darkClass"></div>
<img id="loading-image" src="img/loading-image.gif">
{% block calc_info %}{{ parent() }}{% endblock %}
<div id="page-description-container">
	<div class="addthis_native_toolbox" data-url="{{ social_media_url }}" data-title="{{ page_title|striptags ~ ' by ' ~ calc_name }}"></div>
	<img style="margin-top:1em" src="img/consultation-logo.jpg" alt="online health consultation brought to you by bmi calculator and fresh take solutions" width="100%" height="auto">
	
	<img class="kelly-pic" src="img/kelly-pic.jpg" alt="kelly walden of fresh take solutions" width="25%" height="auto">
	<p class="consultation-tag-line">Want to lose or gain weight and be more healthy?</p>
	<p class="consultation-description">
	Get your personalized online health consultation from nutritionist and holistic health expert, Kelly Walden, from <a href="http://www.freshtakesolutions.ca" target="_blank">Fresh Take Solutions</a>!
	</p>
	<br>
	<p class="italic consultation-description">Your start to a <span>healthier you</span> starts here!</p>
</div>
<div id="main-content">
	<div class="wrapper">
		<p class="options-text">3 Consultation Options to Choose from:</p>
		<table id="consultation-options">
			<tr>
				<th></th>
				<th>Basic</th>
				<th>Detailed</th>
				<th>Skype Video Chat</th>
			</tr>
			<tr>
				<td>Basic Exercise Advice</td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>Basic Health Tips</td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>Basic Nutrition Tips</td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>Nutritional Supplement Advice</td>
				<td></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>Personalized Nutrition Advice</td>
				<td></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>Specific Food Recommendations</td>
				<td></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td>One on One Video Chat with Kelly! (30 minutes or 60 minutes)</td>
				<td></td>
				<td></td>
				<td><img src="img/consultation-check-2.jpg" alt="check mark" width="auto" height="auto"></td>
			</tr>
			<tr>
				<td><span>Cost ($USD)</span></td>
				<td><span>$9.95</span></td>
				<td><span>$59.95</span></td>
				<td><span>$124.95 (30 mins)<br>$179.95 (60 mins)</span></td>
			</tr>
		</table>
	</div>

	<p class="select-option centered">Please select the consultation option that works best for you:</p>

	<div class="button-switch">
		<div class="basic-button left-button button">Basic ($9.95 USD)</div><div class="detailed-button middle-button button">Detailed ($59.95 USD)</div><div class="skype-button right-button button">Video Chat ($124.95 - $179.95 USD)</div>
	</div>
	<form id="consultation-form" method="post">

		    <div id="input-div">
		    	<div id="basic-consultation" class="hide">
			    	<p class="header">General Information</p>
			    	<p class="small-text" style="margin-bottom:1em">(*Required Fields)</p>
					<div class="input-row">
						<p>*First Name</p><input type="text" maxlength="50" name="first-name" class="required" required>
					</div>
					<div class="input-row">
						<p>*Last Name</p><input type="text" maxlength="50" name="last-name" class="required" required>
					</div>
					<div class="input-row">
						<p>*Email Address</p><input type="email" id="email" name="email" class="required" required>
						<div class="check-mark-container">
							<img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark">
						</div>
					</div>
					<div class="input-row">
						<p>*Confirm Email Address</p><input type="email" id="email2" name="email2" class="required" required>
						<div class="check-mark-container">
							<img src="//mes.fm/main_img/red-x-mark.png" alt="red x mark">
						</div>
					</div>
					<p id = "email-error" class="italic big-text">Emails do not match. Please try again.</p>
					<div class="input-row">
						<p>*Country</p><input type="text" maxlength="50" name="country" class="required" required>
					</div>
					<div class="input-row">
						<p>*City</p><input type="text" maxlength="50" name="city" class="required" required>
					</div>
					<div class="input-row">
						<p>*Gender</p><select name="gender"><option selected>Male</option><option>Female</option></select>
					</div>
					<div class="input-row">
						<p>*Age</p><input type="number" name="age" min="1" max="150" step="any" class="required" required>
					</div>
					<div class="input-row">
						<p>*Height (cm)</p><input type="number" name="height-cm" min="0" max="300" step="any" class="required" required>
					</div>
					<div class="input-row">
						<p>*Weight (kg)</p><input type="number" name="weight-kg" min="0" max="500" step="any" class="required" required>
					</div>
					<div class="input-row">
						<p>*BMI</p><input type="number" name="bmi" min="0" max="300" step="any" class="required" required>
					</div>
					<div class="input-row">
						<p>*Weight stable or fluctuating?</p><select name="stable-fluctuating-weight"><option selected>Stable</option><option>Fluctuating</option></select>
					</div>
					<div class="input-row">
						<p>*Constantly dieting?</p><select name="constantly-dieting"><option>Yes</option><option selected>No</option></select>
					</div>
					<div class="input-row">
						<p>*Contacted health practitioners such as chiropractors, therapists, etc. in the past?</p><select name="contacted-health-doctors"><option>Yes</option><option selected>No</option></select>
					</div>

					<p class="header">Main Health Concerns</p>
					<div class="input-row health-concerns">
						<p>Please list your main health concerns (or reasons for seeking treatment), in order of importance to you. *At least one is required.</p>
						*1. <input type="text" maxlength="50" name="concern1" class="required" required><br>
						2. <input type="text" maxlength="50" name="concern2"><br>
						3. <input type="text" maxlength="50" name="concern3"><br>
						4. <input type="text" maxlength="50" name="concern4"><br>
						5. <input type="text" maxlength="50" name="concern5">
					</div>
					<div class="input-row">
						<p>*What do you believe is the reason for your condition? (Max. 500 characters)</p><textarea name="reason-for-concern" maxlength="500" rows="4" cols="40" class="required" required></textarea>
					</div>
				</div>

				<div id="detailed-consultation" class="hide">
					<p class="header italic">Note: All fields below are optional but the more you fill out, the more accurate our health consultation can be.</p>
					<p class="header">Allergies and Sensitivities</p>
					<div class="input-row">
						<p>List all the allergies that you have to medication, environment, food, etc. and also specify the reaction to each.</p>
							<table>
								<tr>
									<th>Allergies</th>
									<th>Reaction</th>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="allergy1"></td>
									<td><input type="text" maxlength="50" name="reaction1"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="allergy2"></td>
									<td><input type="text" maxlength="50" name="reaction2"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="allergy3"></td>
									<td><input type="text" maxlength="50" name="reaction3"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="allergy4"></td>
									<td><input type="text" maxlength="50" name="reaction4"></td>
								</tr>
							</table>	
					</div>



					<p class="header">Medical History</p>
					<div class="input-row">
						<p>Please indicate ANY past or present illnesses, injuries, conditions, hospitalizations or surgeries.</p>
							<table>
								<tr>
									<th>Past or present illnesses, injuries, conditions, hospitalizations or surgeries</th>
									<th>Date</th>
									<th>Is this condition still ongoing?</th>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="injury1"></td>
									<td><input type="text" class="calendar" name="injury-date-1"></td>
									<td><select name="ongoing-condition-1"><option value="0" selected>--</option><option>Yes</option><option>No</option></select></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="injury2"></td>
									<td><input type="text" class="calendar" name="injury-date-2"></td>
									<td><select name="ongoing-condition-2"><option value="0" selected>--</option><option>Yes</option><option>No</option></select></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="injury3"></td>
									<td><input type="text" class="calendar" name="injury-date-3"></td>
									<td><select name="ongoing-condition-3"><option value="0" selected>--</option><option>Yes</option><option>No</option></select></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="injury4"></td>
									<td><input type="text" class="calendar" name="injury-date-4"></td>
									<td><select name="ongoing-condition-4"><option value="0" selected>--</option><option>Yes</option><option>No</option></select></td>
								</tr>
							</table>	
					</div>

					<p class="header">General Medications</p>
					<div class="input-row">
						<p>Please indicate if you are using any of the following medications (include brand if possible)</p>
							<table>
								<tr>
									<th>Medications</th>
									<th>How often do you use it?</th>
									<th>Brand</th>
								</tr>
								<tr>
									<td>Antacids</td>
									<td><select name="antacids-use"><option value="0" selected>--</option><option>Never</option><option>Rarely</option><option>Weekly</option><option>Daily</option></select></td>
									<td><input type="text" maxlength="50" name="antacids-brand"></td>
								</tr>
								<tr>
									<td>Laxatives</td>
									<td><select name="laxatives-use"><option value="0" selected>--</option><option>Never</option><option>Rarely</option><option>Weekly</option><option>Daily</option></select></td>
									<td><input type="text" maxlength="50" name="laxatives-brand"></td>
								</tr>
								<tr>
									<td>Antibiotics</td>
									<td><select name="antibiotics-use"><option value="0" selected>--</option><option>Never</option><option>1 or less per year</option><option>2+ per year</option></select></td>
									<td><input type="text" maxlength="50" name="antibiotics-brand"></td>
								</tr>
								<tr>
									<td>Oral Antifungals</td>
									<td><select name="oral-antifungals-use"><option value="0" selected>--</option><option>Never</option><option>Once</option><option>2+</option></select></td>
									<td><input type="text" maxlength="50" name="oral-antifungals-brand"></td>
								</tr>
								<tr>
									<td>Acid Inhibitors</td>
									<td><select name="acid-inhibitors-use"><option value="0" selected>--</option><option>Never</option><option>Occasionally</option><option>Daily</option></select></td>
									<td><input type="text" maxlength="50" name="acid-inhibitors-brand"></td>
								</tr>
								<tr>
									<td>Tylenol</td>
									<td><select name="tylenol-use"><option value="0" selected>--</option><option>Never</option><option>Rarely</option><option>Frequently</option></select></td>
									<td><input type="text" maxlength="50" name="tylenol-brand"></td>
								</tr>
								<tr>
									<td>Anti-inflammatory (ie. Advil, Aspirin)</td>
									<td><select name="anti-inflammatory-use"><option value="0" selected>--</option><option>Never</option><option>Rarely</option><option>Frequently</option></select></td>
									<td><input type="text" maxlength="50" name="anti-inflammatory-brand"></td>
								</tr>
							</table>	
					</div>

					<p class="header">Other Medications, Supplements and Herbs</p>
					<p>Please indicate all current supplements and herbal treatments you are taking (Over the counter (OTC) and prescription). Include all other past and current medications as well.</p>
					<div class="input-row">
							<table>
								<tr>
									<th>Other Medications, Supplements and Herbs</th>
									<th>Date Started</th>
									<th>Dose and Frequency</th>
									<th>Reason for taking</th>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="other-meds-1"></td>
									<td><input type="text" class="calendar" name="other-meds-date-1"></td>
									<td><input type="text" maxlength="50" name="other-meds-freq-1"></td>
									<td><input type="text" maxlength="50" name="other-meds-reason-1"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="other-meds-2"></td>
									<td><input type="text" class="calendar" name="other-meds-date-2"></td>
									<td><input type="text" maxlength="50" name="other-meds-freq-2"></td>
									<td><input type="text" maxlength="50" name="other-meds-reason-2"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="other-meds-3"></td>
									<td><input type="text" class="calendar" name="other-meds-date-3"></td>
									<td><input type="text" maxlength="50" name="other-meds-freq-3"></td>
									<td><input type="text" maxlength="50" name="other-meds-reason-3"></td>
								</tr>
								<tr>
									<td><input type="text" maxlength="50" name="other-meds-4"></td>
									<td><input type="text" class="calendar" name="other-meds-date-4"></td>
									<td><input type="text" maxlength="50" name="other-meds-freq-4"></td>
									<td><input type="text" maxlength="50" name="other-meds-reason-4"></td>
								</tr>
							</table>	
					</div>

					<p class="header">Physical Trauma/Accident History</p>
					<div class="input-row">
						1. <input type="text" maxlength="50" name="physical-trauma-1"><br>
						2. <input type="text" maxlength="50" name="physical-trauma-2"><br>
						3. <input type="text" maxlength="50" name="physical-trauma-3">
					</div>

					<p class="header">Vaccinations (list all including the flu)</p>
					<div class="input-row">
						1. <input type="text" maxlength="50" name="vaccination-1"><br>
						2. <input type="text" maxlength="50" name="vaccination-2"><br>
						3. <input type="text" maxlength="50" name="vaccination-3">
					</div>

					<p class="header">Women's Health</p>
					<div class="input-row">
						<p>Are you pregnant?</p><select name="pregnant"><option value="0" selected>--</option><option>Yes</option><option>No</option></select>
					</div>
					<div class="input-row">
						<p>Are you trying to be pregnant?</p><select name="pregnant-trying"><option value="0" selected>--</option><option>Yes</option><option>No</option></select>
					</div>
					<br>
					<div class="input-row">
						<p>Other concerns regarding your menopause, yeast infections, etc. (if any)? (Max. 500 characters)</p><textarea name="women-concerns" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Men's Health</p>
					<div class="input-row">
						<p>Any concerns regarding prostate, erectile dysunction, etc. (if any)? (Max. 500 characters)</p><textarea name="men-concerns" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Bowel Health</p>
					<div class="input-row">
						<p>Do you experience any bowel problems such as diarrhea, constipation, etc.? If yes, please explain further. (Max. 500 characters)</p><textarea name="bowel-health" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Teeth Health</p>
					<div class="input-row">
						<p>Are there any concerns regarding your teeth that may have such as braces, retainers, etc.? If yes, please explain further. (Max. 500 characters)</p><textarea name="teeth-health" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Urinary Health</p>
					<div class="input-row">
						<p>Are there any concerns regarding urination such as painful, very frequent urination, etc.? If yes, please explain further. (Max. 500 characters)</p><textarea name="urinary-health" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Sleep Health</p>
					<div class="input-row">
						<p>Are there any concerns regarding such as little sleep, excessive snoring, etc.? If yes, please explain further. (Max. 500 characters)</p><textarea name="sleep-health" maxlength="500" rows="4" cols="40"></textarea>
					</div>

					<p class="header">Occupation</p>
					<div class="input-row">
						<p>What do you do for work?</p><input type="text" maxlength="50" name="occupation">
					</div>
					<div class="input-row">
						<p>Cell phone use per day</p><input type="number" name="cell-phone-use-per-day-hours" min="0" step="any">&nbsp;hours
					</div>
					<div class="input-row">
						<p>Computer usage at work per day</p><input type="number" name="cpu-usage-at-work-per-day-hours" min="0" max="100" step="any">&nbsp;hours
					</div>
					<br>
					<div class="input-row">
						<p>Computer usage at home per day</p><input type="number" name="cpu-usage-at-home-per-day-hours" min="0" max="100" step="any">&nbsp;hours
					</div>
					<div class="input-row">
						<p>Do you play computer games?</p><select name="play-cpu-games"><option value="0" selected>--</option><option>Yes</option><option>No</option></select>
					</div>
					<div class="input-row">
						<p>Work/Life Balance:</p><select name="work-life-balance"><option value="0" selected>--</option><option>Excellent</option><option>Good</option><option>Not great at times</option><option>Poor</option></select>
					</div>

					<p class="header">Smoking</p>
					<p class="italic">Only answer the following if you have ever been a smoker</p>
					<div class="input-row">
						<p>Currently smoke? If so, since when?</p><input type="text" class="calendar" name="started-smoking">
					</div>
					<div class="input-row">
						<p>Used to smoke? If so, when did you quit?</p><input type="text" class="calendar" name="quit-smoking">
					</div>

					<p class="header">Alcohol</p>
					<div class="input-row">
						<p>Alcoholic drinks per week?</p><select name="alcohol-per-week"><option value="0" selected>--</option><option>None</option><option>1-3</option><option>4-6</option><option>7-10</option><option>10+</option></select>
					</div>

					<p class="header">Other Substances</p>
					<div class="input-row">
						<p>Caffeine intake?</p><select name="caffeine-intake"><option value="0" selected>--</option><option>Yes</option><option>No</option></select>
					</div>
					<div class="input-row">
						<p>Servings of coffee per day:</p><input type="number" name="coffee-per-day" min="0" max="100" step="any">
					</div>
					<div class="input-row">
						<p>Servings of tea per day:</p><input type="number" name="tea-per-day" min="0" max="100" step="any">
					</div>
					<div class="input-row">
						<p>Servings of soda per day:</p><input type="number" name="soda-per-day" min="0" max="100" step="any">
					</div>
					<br>
					<p>Please list any recreational drug use:</p>
					<div class="input-row">
						<p>Past:</p><input type="text" maxlength="50" name="past-drugs">
					</div>
					<div class="input-row">
						<p>Present:</p><input type="text" maxlength="50" name="present-drugs">
					</div>

					<p class="header">Nutrition</p>
					<div class="input-row">
						<p>What diets, if any, do you follow (eg. Vegetarian, Gluten-free, etc)?</p><input type="text" maxlength="50" name="diet-types">
					</div>
					<br>
					<div class="input-row">
						<p>What foods do you avoid?</p><input type="text" maxlength="50" name="foods-avoided">
					</div>
					<div class="input-row">
						<p>What foods do you crave?</p><input type="text" maxlength="50" name="foods-craved">
					</div>
					<div class="input-row">
						<p>How often do you cook at home?</p><input type="number" name="cook-at-home-per-week" min="0" max="100" step="any">&nbsp;times per week
					</div>

					<p class="header">Exercise</p>
					<div class="input-row">
						<p>Type of exercise:</p><input type="text" maxlength="50" name="exercise-type">
						<p>How often do you exercise?</p><input type="number" name="exercise-per-week" min="0" max="100" step="any">&nbsp;times per week for&nbsp;<input type="number" name="length-of-exercise-session-in-minutes" min="0" step="any">&nbsp;minutes
						<p>Please indicate all current supplements and herbal treatments you are taking (Over the counter (OTC) and prescription). Include all other past and current medications as well.</p>
							<table>
								<tr>
									<th>Substance</th>
									<th>Number of Servings (per week)</th>
									<th>Serving Size (approx.)</th>
								</tr>
								<tr>
									<td>Luncheon Meats</td>
									<td><input type="number" name="luncheon-meats-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="luncheon-meats-serving-size"></td>
								</tr>
								<tr>
									<td>Candy</td>
									<td><input type="number" name="candy-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="candy-serving-size"></td>
								</tr>
								<tr>
									<td>Margarine</td>
									<td><input type="number" name="margarine-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="margarine-serving-size"></td>
								</tr>
								<tr>
									<td>Soft Drinks</td>
									<td><input type="number" name="soft-drinks-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="soft-drinks-serving-size"></td>
								</tr>
								<tr>
									<td>Coffee</td>
									<td><input type="number" name="coffee-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="coffee-serving-size"></td>
								</tr>
								<tr>
									<td>Sweets/pastries</td>
									<td><input type="number" name="sweets-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="sweets-serving-size"></td>
								</tr>
								<tr>
									<td>Fast Foods</td>
									<td><input type="number" name="fast-foods-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="fast-foods-serving-size"></td>
								</tr>
								<tr>
									<td>Fried Foods</td>
									<td><input type="number" name="fried-foods-per-week" min="0" max="100" step="any"></td>
									<td><input type="text" maxlength="50" name="fried-foods-serving-size"></td>
								</tr>
							</table>
						<p>What are your short term goals for your health? (Max. 500 characters)</p><textarea name="short-term-goals" maxlength="500" rows="4" cols="40"></textarea>
						<p>What are your long term goals for your health? (Max. 500 characters)</p><textarea name="long-term-goals" maxlength="500" rows="4" cols="40"></textarea>
						<p>Rank the importance of immediately improving your health:</p><select name="importance-of-immediately-improving-health"><option value="0" selected>--</option><option>Very Low</option><option>Moderate</option><option>High</option></select>
						<p>Rank your current motivation to accomplish your goals:</p><select name="current-motivation"><option value="0" selected>--</option><option>Very Low</option><option>Moderate</option><option>High</option></select>
						<p>What obstacles do you foresee getting in the way of these goals? (eg. time, money, willpower, lack of support from family, etc.) (Max. 500 characters)</p><textarea name="foreseeable-obstacles" maxlength="500" rows="4" cols="40"></textarea>
						<p>What habits/behaviours/thought patterns do you currently have that help you be optimally healthy? (Max. 500 characters)</p><textarea name="healthy-habits" maxlength="500" rows="4" cols="40"></textarea>

					</div>
				</div>

				<div id="skype-consultation" class="hide">
					<p class="header">Schedule a Skype Video Meeting</p>
					<!--<div class="input-row">
						<p>Date</p><input type="text" class="calendar" maxlength="50" name="skype-date">
					</div>
					<div class="input-row">
						<p>Time (Pacific Standard Time)</p><input type="text" maxlength="50" name="skype-time-PST">
					</div>-->
					<div class="input-row">
						<p>Length of Meeting</p><select id="skype-length" name="skype-length"><option value="30" selected>30 minutes</option><option value="60">60 minutes</option></select>
					</div>
					<div class="input-row">
						<p>Skype Username</p><input type="text" maxlength="50" name="skype-username">
					</div>
					<br>
					<div class="input-row">
						<p>Please state what date(s) and what time(s) you are available to Skype Video Chat. Please also specify the timezone.</p><textarea name="skype-time" maxlength="500" rows="4" cols="40"></textarea>
					</div>
				</div>

				<div class="hide-first hide">
					<p class="header">Other Concerns</p>
					<div class="input-row">
						<p>If you have any other concerns, please state them here. (Max. 500 characters)</p><textarea name="other-concerns" maxlength="500" rows="4" cols="40"></textarea>
					</div>
				</div>

			</div>

			
			<div class="privacy-policy-button button">Privacy Policy</div>
			
			<div class="privacy-policy box-border hide">
				<p class="header">Privacy Policy</p>
				<p>1. Your privacy of information is of utmost importance to us. All information in this form will be viewed privately and not shared with any third party.</p>
				<p>2. Information collected will be used for the following reasons: to provide customers with a custom health consultation guide and to gather general information on the type of health consultations people ask for and this will be used to provide better tailored questions to this current questionnaire form as well as further services from our website.</p>
			</div>

			<div class="client-statement-button button">Client Statement</div>
			
			<div class="client-statement box-border hide">
				<p class="header">Client Statement</p>
				<p>1. I fully understand that bmicalculator.mes.fm is not a medical doctor and that this consultation is not for medical diagnostic or treatment procedures.</p>
				<p>2. The services provided by bmicalculator.mes.fm are at all times restricted to consultation on the subject of nutritional matters intended for general nutritional wellbeing and do not involve the diagnosing, prognosticating, treatment or prescribing of remedies for the treatment of any disease, or any licensed or controlled act which may constitute the practice of medicine.</p>
				<p>3. This agreement will be considered signed voluntarily after payment is made.</p>
			</div>

			<div class="hide-first hide">
				<p class="header">Thank you for filling out this form. You can pay through PayPal below. Your guide to a healthier body is a click away!</p>

				<div class="g-recaptcha" data-sitekey="6LeNGgMTAAAAABZLIvs7JBQPU-NX1vw7vs03WCU7"></div>

				<p id = "captcha-error" class="italic big-text">The reCAPTCHA wasn't entered correctly. Please try it again.</p>
				<input type="submit" id="pay-button" class="pay-button hover" value="BUY NOW! $9.95 USD">

				<p class="italic">You will be redirected to a PayPal page that accepts various transaction types.</p>
				<!--<div class="button">buy now!</div>-->
			</div>
	</form>
</div>
<div class="fb-comments" data-href="{{ url }}" data-width="100%" data-numposts="10" data-colorscheme="light" data-order-by="reverse_time"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="js/consultation.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock %}
