{% extends base %}

{% block extra_styles %}
	<style>
	#inner-content a {color: #428bca;font-weight: 400;}
	#inner-content a:hover {color:#4c6496;text-decoration: underline;}
	#thumbnails img {margin-top:1.875em;border: 2px solid white;}
	.button {color:#c275b1;font-weight:700;border:0.125em solid #c275b1;margin-top:1.875em;margin-bottom:1em;padding:0.5em 0.2em;text-align:center;
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;}
	{% if not mobile %}
		#thumbnails a:not(:nth-child(4n+4)) {margin-right:1.3em;}
		#thumbnails img:hover {border: 2px solid #c275b1;cursor: pointer;}
		.hover:hover {background-color: #c275b1;color:white;cursor: pointer;}
	{% else %}
		#thumbnails img {width:45%;height:auto}
	{% endif %}
	</style>
{% endblock %}

{% block page_title %}{{ page_title|raw }}{% endblock %}
{% block add_this %}{% endblock %}

{% block page_content %}
<div id="main-content">
	<!--<div class="addthis_native_toolbox" data-url="{{ social_media_url }}" data-title="Instagram Photos via @ bmicalculator by BMI Calculator"></div>-->
    <div id="thumbnails">
    {% for i in results.data %}
        <a href='{{ img_data(i).link }}'><img src='{{ img_data(i).src }}' alt='{{ img_data(i).alt }}' width='150' height='150'></a>
    {% endfor %}
    </div>
    <div id="load-more-button" class="button hover">Load More...</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>var nextUrl = "{{ results.pagination.next_url }}";</script>
<script src="js/load-more.js"></script>
{% endblock %}