{% extends base %}

{% block extra_styles %}
	<style>
	.hover:hover {background-color: #c275b1;color:white;cursor: pointer;}
	#inner-content a {color: #428bca;font-weight: 400;}
	#inner-content a:hover {color:#4c6496;text-decoration: underline;}
	#inner-content #gallery-button {text-decoration: none;}
	#main-content {position:relative;}
	#main-content .time {float:right;vertical-align:top;margin-bottom:1em;}
	.color-box {float:left;}
	#page-title-small {display:block;font-size:1.4em;line-height:1.1;}
	</style>
{% endblock %}

{% block page_title %}{{ page_title|raw }}{% endblock %}
{% block add_this %}{% endblock %}
{% block page_content %}

<p id="page-description">View image on Instagram: <a href='{{ data.insta_url }}' target='_blank'>{{ data.insta_url }}</a></p>
<a id="gallery-button" href="{{ root_domain }}social-media/instagram/"><div class="button hover">View Instagram Gallery</div></a>

<div id="main-content">
    <div class="addthis_native_toolbox" data-title="{{ data.alt }}" style="margin-top:0em;"></div>
    <time class="time" datetime="{{ data.date }}" pubdate="pubdate">{{ data.date }}</time>
    <img src='{{ data.src }}' alt='{{ data.alt }}' width="100%" height="auto">
</div>
{% endblock %}