{% extends base %}
{% block extra_head %}
<script type="text/javascript" src="https://latex.codecogs.com/latexit.js"></script>
{% endblock %}

{% block extra_styles %}
	<style>
	.sentence {margin-top:0.5em; margin-bottom:0.5em;line-height:1.5}
	.header2 {font-size:1.1em; margin-top:1.3em;margin-bottom:0.5em;text-decoration:underline}
	.header3 {margin-top:1em; margin-bottom:0.5em;}
	.tutorial-img {width:100%;height:auto;}
	.list {list-style-type: circle;}
	.list__indent {margin-left:2em;margin-top:0.2em;margin-bottom:0.2em;}
	.list__indent--extra {margin-left:4em;list-style-type:disc;}
	.latex {margin-top:0.3em;margin-bottom:0.3em;font-size:20px}
	{% if mobile %}
		.full-width .latex {width:100%}
		.sentence {font-size:0.9em;}
		.list__indent--extra,.list__indent {font-size:0.9em;}
	{% endif %}
	</style>
{% endblock %}

{% block page_content %}
<div id="main-content">
	<iframe style="border:none" width="100%" height="400" src="{{ tutorial_src }}" allowfullscreen></iframe>

	<p class="sentence">Using our mortgage calculator is very simple. Just fill in the calculator inputs and all the calculations are done automatically. The dropdown buttons can be shown or hidden depending on the data that you would like to see.</p>
	<p class="sentence">
	In this article (as well as in the above embedded video), I will go over an example and breakdown each of the calculations as well as the formulas behind them. 
	</p>
	<h2 class="header2">Example of a Mortgage Repayment Plan</h2>
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial1.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial2.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial3.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial4.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial5.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial6.png">
	<img class="tutorial-img" src="{{ root_domain }}img/tutorial7.png">
	<h2 class="header2">Breakdown of the Calculations in our Mortgage Calculator</h2>
	<h3 class="header3">Monthly Payment (without Tax/PMI) Calculation</h3>
	<p class="sentence">
	The first calculation that the mortgage calculator solves is the Monthly Payment (without Tax/PMI), which in our example is $1,515.24. This calculation is from the <a class="link" href="{{ root_domain }}balloon-payment-formula">Mortgage Amortization Formula (including Balloon Payment)</a> and is shown below:
	</p>
	<div class="full-width" lang="latex">
	A = \frac{iP(1+i)^n}{(1+i)^n - 1} - \frac{iB}{(1+i)^{n+1} - (1+i)}
	</div>
	<p class="sentence">
		where:
		<ul class="list">
			<li class="list__indent">A = periodic payment amount</li>
			<li class="list__indent">P = amount of principle or loan owing (subtracting any down-payments)</li>
			<li class="list__indent">i = period interest rate</li>
			<li class="list__indent">n = total number of payments</li>
			<li class="list__indent">B = Final Balloon Payment</li>
			<li class="list__indent--extra">If B = 0, then the amortization formula is the same as the basic one</li>
		</ul>
	</p>
	<p class="sentence">In our example, the interest rate given is 3% and is the annual interest rate or sometimes referred to the annual percentage rate (APR). But since we are dealing with monthly payments we need to obtain the monthly interest and this can be simply found by dividing the APR by 12 months:
	</p>
	<div lang="latex">
	i_m = \frac{i_m}{12} = \frac{3\%}{12} = \frac{.03}{12} = 0.0025
	</div>
	<p class="sentence">The rest of variables in the above formula, for our given example, are shown below:</p>
	<div lang="latex">
	1 + i_m = 1.0025
	</div>
	<div class="full-width" lang="latex">
	n = 12 ~ years * 12 \frac{months}{year} = 360 ~ months
	</div>
	<div lang="latex">
	P = \$400,000
	</div>
	<div lang="latex">
	B = \$100,000
	</div>
	<p class="sentence">Now inputting these variables into the amortization formula we obtain:</p>
	<div class="full-width" lang="latex">
	A_0 = Monthly Payment (without Tax/PMI)
	</div>
	<div class="full-width" lang="latex">
	= \frac{0.0025 * 400,000 * 1.0025^{360}}{1.0025^{360} - 1} - \frac{0.0025 * 100,000}{1.0025^{361} - 1.0025}
	</div>
	<div lang="latex">
	= 1686.42 + 171.18
	</div>
	<div lang="latex">
	= \$1515.24
	</div>
	<h3 class="header3">Total Payment (without Tax/PMI) Calculation</h3>
	<p class="sentence">
	The Total Payment (without Tax/PMI) is simply equal to the sum of the monthly payments plus the final balloon payment:
	</p>
	<div class="full-width" lang="latex">
	T_0 = Total ~ Payment ~ (without Tax/PMI)
	</div>
	<div lang="latex">
	= A_0 * 360 + B(1 + \frac{1}{1 + i})
	</div>
	<div class="full-width" lang="latex">
	= 1515.24 * 360 + 100,000 
	</div>
	<div lang="latex">
	= 545,486.41 + 100,000
	</div>
	<div lang="latex">
	= \$645,486.41
	</div>
	<h3 class="header3">Payment Breakdown: Interest, Property Tax and PMI</h3>
	<p class="sentence">The total interest paid can be calculated by subtracting the loan amount from the actual Total Payment (without Tax/PMI) and is calculated below:</p>
	<div lang="latex">
	T_i = Total ~ Interest ~ Paid = T_0 - P
	</div>
	<div class="full-width" lang="latex">
	= 645,486.41 - 400,000 = \$245,486.41
	</div>
	<p class="sentence">
	The property tax is calculated on a per year basis and is simply the estimated Home Value multiplied by property tax rate:
	</p>
	<div class="full-width" lang="latex">
	T_p = 600,000 ~ home ~ value * 1\% ~ tax * 30 ~ years
	</div>
	<div class="full-width" lang="latex">
	= 600,000 * 0.01 * 30 = \$180,000
	</div>
	<p class="sentence">
	The Private Mortgage Insurance (PMI) is calculated by multiplying the total mortgage loan amount by the PMI rate (averaged out to a monthly percentage rate) and multiplied by the length of the insurance term for the total amount:
	</p>
	<div class="full-width" lang="latex">
	T_{PMI} = 400,000 ~ mortgage ~ loan * \frac{0.5\% ~ PMI}{12 ~ months} * 28 ~ months
	</div>
	<div lang="latex">
	= 400,000 * \frac{0.005}{12}*28
	</div>
	<div lang="latex">
	= \$166.67 * 28 = \$4666.67
	</div>
	<h3 class="header3">Monthly and Total Payment with Tax/PMI</h3>
	<p class="sentence">
	Including the property tax and PMI into the mortgage payments is a tricky situation because property tax is usually paid in a per year basis, PMI is usually paid for a specific number of months in the short term, while mortgage payments are usually monthly across a long period. To simplify the calculations process, in our Mortgage Calculator the Payments with Tax/PMI are included by simply averaging out the Total Property Tax and PMI over a per month basis across life of the mortgage.
	</p>
	<div class="full-width" lang="latex">
	A = Monthly ~ Payment ~ (with ~ Tax/PMI)
	</div>
	<div lang="latex">
	= A_0 + \frac{T_p + T_{PMI}}{360 ~ months}
	</div>
	<div lang="latex">
	= 1515.24 + \frac{4666.67 + 180000}{360}
	</div>
	<div lang="latex">
	= 1515.24 + 512.96 = \$2028.20
	</div>
	<div class="full-width" lang="latex">
	T = Total ~ Payment ~ (with ~ Tax/PMI)
	</div>
	<div lang="latex">
	= A * 360 ~ months + B(1 + \frac{i}{1 + i})
	</div>
	<div class="full-width" lang="latex">
	= 2028.60 * 360 + 100,000 = \$830,153.08
	</div>
	<h3 class="header3">Bi-Weekly Payment Strategy (Excluding Tax/PMI)</h3>
	<p class="sentence">
	The Bi-Weekly payment strategy is a way of saving on interest by paying more frequently. The payments are paid every 2 weeks but the bi-weekly payments are usually just half the monthly payments, as in our Mortgage Calculator.	
	</p>
	<div lang="latex">
	A_w = \frac{A_0}{2} = \$757.62
	</div>
	<p class="sentence">
	Now the important part to remember with a bi-weekly payment strategy is that the length of the mortgage amortization term is actually less than that for a monthly payment strategy because of the more frequent payments which lower the total amount interest gets compounded. Thus in order to calculate the Total Bi-Weekly payment we need to solve for the length of the mortgage term. We can do this by rearranging the mortgage amortization formula to solve for n:
	</p>
	<div class="full-width" lang="latex">
	A = P\frac{i(1 + i)^n}{(1+i)^n - 1} - \frac{iB}{(1+i)^{n+1} - (1 + i)}
	</div>
	<div class="full-width" lang="latex">
	A = P\frac{i(1 + i)^n}{(1+i)^n - 1} - \frac{iB}{(1+i)((1+i)^n - 1)}
	</div>
	<div class="full-width" lang="latex">
	A(1+i)^n - A = iP(1+i)^n - \frac{iB}{1+i}
	</div>
	<div lang="latex">
	(1+i)^n(A - iP) = A - \frac{iB}{1+i}
	</div>
	<div lang="latex">
	(1+i)^n = \frac{A - \frac{iB}{1+i}}{A - iP}
	</div>
	<div lang="latex">
	nln(1+i) = ln|\frac{A - \frac{iB}{1+i}}{A - iP}|
	</div>
	<div lang="latex">
	n = \frac{ln|\frac{A - \frac{iB}{1+i}}{A - iP}|}{ln|1+i|}
	</div>
	<p class="sentence">
	Now that the formula for n number of payments periods is derived, we can start inputting the variables while noting making sure to account for the bi-weekly interest rate which is the APR divided by the 26 bi-weeks in a year.
	</p>
	<div class="full-width" lang="latex">
	i_w = \frac{i_a}{26 ~ bi-weeks} = \frac{3}{100*26} = \frac{3}{2600}
	</div>
	<div class="full-width" lang="latex">
	1+i_w = \frac{2600}{2600} + \frac{3}{2600} = \frac{2603}{2600}
	</div>
	<div lang="latex">
	n_w = number ~ of ~ bi-weeks
	</div>
	<div class="full-width" lang="latex">
	= ln|\frac{757.62 - \frac{3}{2600} * \frac{100,000}{\frac{2603}{2600}}}{756.62 - \frac{3}{2600} * 400,000}| ~ \div ~ {ln|\frac{2603}{2600}|}
	</div>
	<div class="full-width" lang="latex">
	\approx 671.64 ~ bi-weeks \approx 672 ~ bi-weeks
	</div>
	<p class="sentence">
	Now the Total Payments will be calculated similarly to that for the Mortgage repayment strategy as well as account for the balloon payment (plus interest):
	</p>
	<div lang="latex">
	T_w = A_w * n_w + B(1 + \frac{i}{1 + i})
	</div>
	<div lang="latex">
	= 757.62 * 671.64 + 100,000
	</div>
	<div lang="latex">
	= \$608,850.88
	</div>
	<p class="sentence">
	The total interest paid and saved using the bi-weekly payment strategy as compared to the monthly payment strategy is calculated below:
	</p>
	<div class="full-width" lang="latex">
	T_{iw} = Total ~ Bi-Weekly ~ Interest = T_w - P
	</div>
	<div class="full-width" lang="latex">
	= 608,850.88 - 400,000 = \$208,850.88
	</div>
	<div lang="latex">
	Total ~ Interest ~ Saved = T_i = T_{iw}
	</div>
	<div class="full-width" lang="latex">
	= 245,486.41 - 208,850.88 = \$36,635.53
	</div>
	<h3 class="header3">Balloon Payment Breakdown (Excluding Tax/PMI)</h3>
	<p class="sentence">
	The last calculation to evaluate is the extra interest paid when using the balloon payment strategy. Thus we need to first calculate the monthly and total payments without the balloon payment and compare to with the balloon payment. The monthly payment is simply the first part of the mortgage amortization formula and is calculated below:
	</p>
	<div class="full-width" lang="latex">
	A_{0B} = Monthly ~ Payment ~ (no ~ Tax/PMI/Balloon)
	</div>
	<div lang="latex">
	= \frac{0.0025 * 400,000 * 1.0025^{360}}{1.0025^{360} - 1}
	</div>
	<div lang="latex">
	= $1686.42
	</div>
	<div lang="latex">
	T_{0B} = A_{0B} * 360 ~ months
	</div>
	<div lang="latex">
	= 1686.42 * 360 = \$607,109.81
	</div>
	<div lang="latex">
	T_{iB} = T_{0B} - P
	</div>
	<div class="full-width" lang="latex">
	= 607,109.81 - 400,000 = \$207,109.81
	</div>
	<p class="sentence">
	As predicted the total interest without the balloon payment and this is because the total monthly payments are higher.. The total extra interest paid using the balloon payment strategy is calculated below:
	</p>
	<div class="full-width" lang="latex">
	Total ~ Extra ~ Interest ~ Paid = T_i - T_{iB}
	</div>
	<div lang="latex">
	= 245,486.41 - 207,109.81
	</div>
	<div lang="latex">
	= \$38,376.61
	</div>
	<p class="sentence">
	Although the total extra interest paid is substantial, it does lower the monthly payments and many times businesses use the balloon strategy because of lower initial revenue streams. 
	</p>
	<p class="sentence">
	If you have any questions about our Mortgage Calculator, the calculations I went over, or any suggestions on making it even better please let us know by commenting below! :)
	</p>
</div>
{% endblock %}