<p class="side-bar-title side-bar-title--first dark">Site Navigation</p>
<div class="navbar">
    <ul>
        <li class="navbar__li"><a class="navbar__a" href="{{ root_domain }}">{{ calc_name }}</a></li>
        {% for item in navbar %}
            {% if item.dropdown is iterable %}
                <li class="navbar__li"><a class="navbar__a navbar__a--inactive" href="{{ item.url }}">{{ item.label }}<span class="dropdown-symbol">&#9660;</span></a></li>
                <ul class="navbar__ul hide">
                {% for dropdown_item in item.dropdown %}
                    <li class="navbar__li"><a class="navbar__a" href="{{ dropdown_item.url }}">&#9642; <span>{{ dropdown_item.label }}</span></a></li>
                {% endfor %}
                </ul>
            {% else %}
                <li class="navbar__li"><a class="navbar__a" href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="navbar__li"><a class="navbar__a navbar__a--inactive" href="http://matheasysolutions.com/calculators/">Calculators<span class="dropdown-symbol">&#9660;</span></a></li>
        <ul class="navbar__ul hide">
            <li class="navbar__li"><a class="navbar__a" href="http://bmicalculator.cc">&#9642; <span>BMI Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://gpacalculator.cc">&#9642; <span>GPA Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://gradecalculator.mes.fm">&#9642; <span>Grade Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://inflation-calculator.com">&#9642; <span>Inflation Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://mortgagecalculator.mes.fm">&#9642; <span>Mortgage Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://percentcalculator.com">&#9642; <span>Percentage Calculator</span></a></li>
            <li class="navbar__li"><a class="navbar__a" href="http://vatcalculator.co">&#9642; <span>VAT Calculator</span></a></li>
            {% if local_root == "youtube" %}
                <li class="navbar__li"><a class="navbar__a" href="http://youtubemoney.co">&#9642; <span>YouTube Money Calculator</span></a></li>
            {% endif %}
            <li class="navbar__li"><a class="navbar__a" href="http://matheasysolutions.com/calculators/">&#9642; <span>More...</span></a></li>
        </ul>
        <li class="navbar__li"><a class="navbar__a navbar__a--inactive" href="http://matheasysolutions.com/tools/">Tools<span class="dropdown-symbol">&#9660;</span></a></li>
        <ul class="navbar__ul hide">
            {#<li class="navbar__li"><a class="navbar__a" href="http://mp3converter.fm">&#9642; <span>MP3 Converter</span></a></li>#}
            <li class="navbar__li"><a class="navbar__a" href="http://timer.mes.fm">&#9642; <span>Timer</span></a></li>
            {#{% if local_root == "youtube" %}
                <li class="navbar__li"><a class="navbar__a" href="http://youtubetomp3.fm">&#9642; <span>YouTube to MP3 Converter</span></a></li>
            {% endif %}#}
            <li class="navbar__li"><a class="navbar__a" href="http://matheasysolutions.com/tools/">&#9642; <span>More...</span></a></li>
        </ul>
    </ul>
</div>