{% if mobile %}
    <ul id="navbar" class="navbar hide">
{% else %}
    <ul id="navbar" class="navbar">
{% endif %}
    <li class="navbar__item"><a class="navbar__link navbar__link--first" href="{{ root_domain }}">{{ calc_name }}</a></li>
    {% for item in navbar %}
        {% if item.dropdown is iterable %}
            <li class="navbar__item"><span class="navbar__link navbar__link--dropdown">{{ item.label }}<span class="dropdown-symbol">&#9660;</span></span>
                <ul class="navbar__dropdown-container hide">
                {% for dropdown_item in item.dropdown %}
                    <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="{{ dropdown_item.url }}">&#9642; <span>{{ dropdown_item.label }}</span></a></li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="navbar__item"><a target="{{ item.link_window | default('_self') }}" class="navbar__link" href="{{ item.url }}">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
    {% if app_store_link %}<li class="navbar__item"><a target="_blank" class="navbar__link" href="{{ app_store_link }}">iPhone App</a></li>{% endif %}
    {% if google_play_link %}<li class="navbar__item"><a target="_blank" class="navbar__link" href="{{ google_play_link }}">Android App</a></li>{% endif %}
    <li class="navbar__item"><span class="navbar__link navbar__link--dropdown">Calculators<span class="dropdown-symbol">&#9660;</span></span>
        <ul class="navbar__dropdown-container hide">
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://bmicalculator.mes.fm">&#9642; <span>BMI Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://gpacalculator.mes.fm">&#9642; <span>GPA Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://gradecalculator.mes.fm">&#9642; <span>Grade Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://inflationcalculator.mes.fm">&#9642; <span>Inflation Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://mortgagecalculator.mes.fm">&#9642; <span>Mortgage Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://percentagecalculator.mes.fm">&#9642; <span>Percentage Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://pokemongocalculator.mes.fm">&#9642; <span>Pokemon Go Calculator</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://vatcalculator.mes.fm">&#9642; <span>VAT Calculator</span></a></li>
            {% if not show_ads %}
                <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://youtubemoney.mes.fm">&#9642; <span>YouTube Money Calculator</span></a></li>
            {% endif %}
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://mes.fm/calculators">&#9642; <span>More...</span></a></li>
        </ul>
    </li>
    <li class="navbar__item"><span class="navbar__link navbar__link--dropdown">Tools<span class="dropdown-symbol">&#9660;</span></span>
        <ul class="navbar__dropdown-container hide">
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://speedreader.mes.fm">&#9642; <span>Speed Reader</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://timer.mes.fm">&#9642; <span>Timer</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://mes.fm/tools">&#9642; <span>More...</span></a></li>
        </ul>
    </li>
    <li class="navbar__item"><span class="navbar__link navbar__link--dropdown">Mobile Apps<span class="dropdown-symbol">&#9660;</span></span>
        <ul class="navbar__dropdown-container hide">
        	<li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://itunes.apple.com/ca/app/bmi-calculator-by-mes/id1226817243">&#9642; <span>BMI Calculator (iOS)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.bmiCalculator">&#9642; <span>BMI Calculator (Android)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://itunes.apple.com/ca/app/fail-safe-final-exam-calculator/id673084580">&#9642; <span>Grade Calculator (iOS)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.failsafefinalexamcalculator">&#9642; <span>Grade Calculator (Android)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://itunes.apple.com/ca/app/percentage-calculator-by-math/id1141583865">&#9642; <span>Percentage Calculator (iOS)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.percentageCalculator">&#9642; <span>Percentage Calculator (Android)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.mortgageCalculator">&#9642; <span>Mortgage Calculator (Android)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://itunes.apple.com/ca/app/hashtag-everything-lite/id739573482">&#9642; <span>Hashtag Everything (iOS)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.mike.HashtagEverythingLite">&#9642; <span>Hashtag Everything (Android)</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" target="_blank" href="https://mes.fm/mobile-apps">&#9642; <span>More...</span></a></li>
        </ul>
    </li>
    <li class="navbar__item"><span class="navbar__link navbar__link--dropdown">Partners<span class="dropdown-symbol">&#9660;</span></span>
        <ul class="navbar__dropdown-container hide">
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://chinchatcomics.com">&#9642; <span>Chin Chat Comics</span></a></li>
            <li class="navbar__item"><a class="navbar__link navbar__dropdown-item" href="https://mes.fm/partners">&#9642; <span>More...</span></a></li>
        </ul>
    </li>
    <li class="navbar__item"><a target="_blank" class="navbar__link" target='_blank' href="https://teespring.com/stores/mes-store">Store</a></li>
    {% if mobile %}
        {% if local_root != "home_page" %}
            <li class="navbar__item"><a class="navbar__link" href='https://mes.fm'><img id="mes-logo" class="info-bar__logo lazyload" alt="math easy solutions logo" height="29" width="126" data-src="//mes.fm/main_img/mes-logo-small.png"></a></li>
        {% endif %}
        <li class="navbar__item"><a class="navbar__link" href="{{ root_domain }}contact">Contact Us</a></li>
        <li class="navbar__item"><a class="navbar__link" target="_blank" href="https://mes.fm/donate">Donate</a></li>
        <li class="navbar__item"><span class="navbar__link social__text--white">Follow us!</span>{% block social %}{% include 'social.twig' %}{% endblock %}</li>
        <li class="navbar__item"><span class="navbar__link navbar__link--black desktop-version-button">Desktop Version</span></li>
        {# {% if not hide_search %}<li class="navbar__item"><img class="search-icon-button lazyload" height="24" width="24" data-src="//mes.fm/main_img/search-icon.png"></li>{% endif %} #}
    {% endif %}
</ul>
