{% extends base %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block extra_styles %}
	<style>
	.tbl__btn {height:auto;width:13.75em;display: block;}
	.tbl__link {display: block;}
	{% if mobile %}
	.tbl {margin:0 auto;}
	.tbl__btn {width: 100%;height:auto;}
	.tbl__img-container {display: block;border-bottom: 0.7em solid transparent;}
	.tbl__img-container--last {border-bottom: 0;}
	{% else %}
	.tbl__row {border-bottom: 1em solid transparent;}
	.tbl__img-container:not(:last-child) {border-right:1em solid transparent;}
	{% endif %}
	</style>
{% endblock %}

{% block resp_horiz_mobile %}
    {% if show_ads %}
        <!-- (Responsive) Horizontal -->
        <ins class="adsbygoogle"
             style="display:block;margin:1em 0"
             data-ad-client="ca-pub-1461238060884369"
             data-ad-slot="{{ ad_id['resp_horiz'] }}"
             data-ad-format="horizontal"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}

{% block page_content %}
	<div id="main-content">
		<h2 class="header2">What is Math Easy Solutions (MES)?</h2>
		<p class="sentence">Get up to speed with what MES is, how it has grown, the vision for the future, and the amazing crew behind it all by watching the video below!</p>

		<iframe style="border:none" width="100%" height="400" src="//www.youtube.com/embed/8IP0CeNmqDc" allowfullscreen></iframe>

		<h2 class="header2">What does MES offer?</h2>
		<p class="sentence">We have a wide variety of online educational tools and tutorials which can all be accessed through the icons below.</p>

		<table class="tbl">
			<tr class="tbl__row">
				<td class="tbl__img-container"><a class="tbl__link" href="{{ root_domain }}calculators"><img src="img/calculators-icon.jpg" class="tbl__btn" alt="calculators icon"></a></td>
				<td class="tbl__img-container"><a class="tbl__link" href="{{ root_domain }}puzzles"><img src="img/puzzles-icon.jpg" class="tbl__btn" alt="puzzles icon"></a></td>
				<td class="tbl__img-container"><a class="tbl__link" href="{{ root_domain }}memes"><img src="img/memes-icon.jpg" class="tbl__btn" alt="memes icon"></a></td>
				
			</tr>
			<tr class="tbl__row">
				<td class="tbl__img-container"><a class="tbl__link" href="https://www.youtube.com/user/MathEasySolutions/videos" target="blank"><img src="img/videos-icon.jpg" class="tbl__btn" alt="videos icon"></a></td>
				<td class="tbl__img-container"><a class="tbl__link" href="{{ root_domain }}tools"><img src="img/tools-icon.jpg" class="tbl__btn" alt="tools icon"></a></td>
				<td class="tbl__img-container"><a class="tbl__link" href="{{ root_domain }}mobile-apps/"><img src="img/mobile-apps-icon.jpg" class="tbl__btn" alt="mobile apps icon"></a></td>
			</tr>
			<tr>
				<td class="tbl__img-container  tbl__img-container--last"><a class="tbl__link" href="{{ root_domain }}partners/"><img src="img/partners-icon.jpg" class="tbl__btn" alt="partners icon"></a></td>
			</tr>
		</table>
	</div>
{% endblock %}