{% extends base %}

{% block javascripts %}
	{{ parent() }}
	<script>
	var pageLink = $(".page-link");
	pageLink.each(function() {
		if($(this).html() == {{ page }}) {
			$(this).addClass("active-page");
			return false;
		}
	});
	</script>
{% endblock %}

{% block extra_styles %}
	<style>
	.memes {margin:0 auto;}
	.memes__row {border-bottom: 1em solid transparent;}
	.memes__img-container:not(:last-child) {border-right:1em solid transparent;}
	.memes__link {display: block;}
	.memes__img {height:10.0625em;width:10.0625em;display: block;border:0.15em solid #d4d4d4;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
	.btn-container {width:100%; display: table;margin-bottom: 2em;table-layout: fixed;}
	.page-numbers {display: table-cell;text-align: center;vertical-align: middle;}
	.btn-link {display: table-cell;}
	.page-link {font-size: 1.2em;padding:0 0.4em;}
	.active-page {font-weight: 700;color:{{ dark_color }};cursor: default;}
	{% if mobile %}
	.memes__row {border-bottom: 0.5em solid transparent;}
	.memes__img-container:not(:last-child) {border-right:0.5em solid transparent;}
	.memes__img {width: 100%;height:auto;min-width:8.5em;min-height: 8.5em;}
	.btn-container {margin-top:0.5em;}
	.page-numbers {width:20%;}
	.btn-link {text-align: center;width:30%;}
	{% else %}
	.memes__img:hover {border-color: {{ dark_color }};}
	.page-link:hover:not(.active-page) {text-decoration: underline;}
	.btn-link:hover {background-color: {{ dark_color }};color:white;}
	{% endif %}
	</style>
{% endblock %}

{% block extra_head %}
	<!-- Header Tag Code --><script data-cfasync='false' type='text/javascript'>/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "3.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u; b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//d2na2p72vtqyok.cloudfront.net/client-embed/daad81e0-524c-4a38-ad8e-50d905fbd28b.js');/*]]>*/</script><!-- End Header Tag Code -->
{% endblock %}

{% block resp_horiz %}{% endblock %}

{% block resp_vert %}
	{% if show_youtube_ads %}
		<div class="side-bar">

			{% block navbar %}{{ parent() }}{% endblock %}

			<!-- Insticator API Fire Widget --><div id="insticator-container"><div id="div-insticator-ad-1"></div><div id="insticator-embed"></div><div id="div-insticator-ad-2"></div><script data-cfasync='false' type="text/javascript">/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "0235ffb3-a6df-4a1d-b2ef-6e3c668a10bd"})/*]]>*/</script></div><!-- End Insticator API Fire Widget -->                                       

            {% if subscribe_data %}
                <a href="https://matheasy.substack.com/" target="_blank" rel="nofollow"><div class="button button--subscribe button--active">Subscribe for Email Updates</div></a>
            {% endif %}

		</div>
	{% endif %}
{% endblock %}

{% block alt_big_mobile_ad_1 %}{% endblock %}

{% block alt_big_mobile_ad_3 %}{% endblock %}

{% block page_content %}
	<div id="main-content">
		<table class="memes">
			<tr class="memes__row">
			{% for item in data %}
				<td class="memes__img-container"><a class="memes__link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ item.urlname }}" title="{{ item.title }}">
					{% if mobile %}
						<img height="161" width="161" class="memes__img" src="https://{{ url_short }}/img/memes-thumbnail/{{ item.thumbnailurl }}" alt="{{ item.title }}">
					{% else %}
						<img height="161" width="161" class="memes__img" src="https://{{ url_short }}/img/memes-thumbnail/{{ item.thumbnailurl2 }}" alt="{{ item.title }}">
					{% endif %}
				</a></td>
				{% if loop.index % items_per_row == 0 and not loop.last %}
					</tr><tr class="memes__row">
				{% endif %}
			{% endfor %}
			</tr>
		</table>
		<div class="btn-container">
			{% if page != 1 %}<a class="button btn-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ page - 1 }}">&#9668;&nbsp;&nbsp;Previous</a>{% endif %}
			{% if mobile %}
				<div class="page-numbers">Page {{ page }}</div>
			{% else %}
				<div class="page-numbers">
					{% if page < 4 or not data %}
						{% if max_page > 4 %}
							{% for i in range(1 , 5) %}
								<a class="page-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ i }}">{{ i }}</a>
							{% endfor %}
						{% else %}
							{% for i in range(1 , max_page) %}
								<a class="page-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ i }}">{{ i }}</a>
							{% endfor %}
						{% endif %}
					{% elseif page > 3 and page < (max_page - 1) %}
						{% for i in range((page-2) , (page+2)) %}
							<a class="page-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ i }}">{{ i }}</a>
						{% endfor %}
					{% else %}
						{% if max_page > 4 %}
							{% for i in range((max_page-4) , max_page) %}
								<a class="page-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ i }}">{{ i }}</a>
							{% endfor %}
						{% else %}
							{% for i in range(1 , max_page) %}
								<a class="page-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ i }}">{{ i }}</a>
							{% endfor %}
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
			{% if page != max_page %}<a class="button btn-link" href="{{root__domain}}{{ memes_dir | default('memes')}}/{{ page + 1 }}">Next&nbsp;&nbsp;&#9658;</a>{% endif %}
		</div>

		{% if mobile %}
			<!-- Insticator API Fire Widget --><div id="insticator-container"><div id="div-insticator-ad-1"></div><div id="insticator-embed"></div><div id="div-insticator-ad-2"></div><script data-cfasync='false' type="text/javascript">/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "0235ffb3-a6df-4a1d-b2ef-6e3c668a10bd"})/*]]>*/</script></div><!-- End Insticator API Fire Widget -->                                       
		{% endif %}

		{% if show_youtube_ads and not mobile %}{% endif %}	

	</div>
{% endblock %}