{% extends base %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block extra_styles %}
	<style>
	.single-img {width:100%;display:block;height:auto;border:0.125em solid #ddd;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
	.button-container {display: table;width:100%;margin:1em 0;}
	.button-container--last {margin-bottom: 2em;}
	.btn-link {display: table-cell;width:33%;}
	.btn-link:not(:last-child) {border-right:0.4em solid transparent;}
	.button--small {margin:0;}
	{% if not mobile %}
	.button--small:hover {background-color: {{ dark_color }};color:white;}
	{% endif %}
	</style>
{% endblock %}

{% block extra_head %}
	<!-- Header Tag Code --><script data-cfasync='false' type='text/javascript'>/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "3.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u; b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//d2na2p72vtqyok.cloudfront.net/client-embed/daad81e0-524c-4a38-ad8e-50d905fbd28b.js');/*]]>*/</script><!-- End Header Tag Code -->
{% endblock %}

{% block resp_horiz %}{% endblock %}

{% block resp_vert %}
	{% if show_youtube_ads %}
		<div class="side-bar">

			{% block navbar %}{{ parent() }}{% endblock %}
                                 

			<!-- Insticator API Fire Widget --><div id="insticator-container"><div id="div-insticator-ad-1"></div><div id="insticator-embed"></div><div id="div-insticator-ad-2"></div><script data-cfasync='false' type="text/javascript">/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "0235ffb3-a6df-4a1d-b2ef-6e3c668a10bd"})/*]]>*/</script></div><!-- End Insticator API Fire Widget -->                                          

        {% if subscribe_data %}
            <a href="https://matheasy.substack.com/" target="_blank" rel="nofollow"><div class="button button--subscribe button--active">Subscribe for Email Updates</div></a>
        {% endif %}

		</div>
	{% endif %}
{% endblock %}

{% block alt_big_mobile_ad_1 %}{% endblock %}

{% block alt_big_mobile_ad_3 %}{% endblock %}

{% block page_content %}
	<div id="main-content">
		<div class="button-container">
			{% if prev_meme %}<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ prev_meme }}"><div class="button button--small">&#9668;&nbsp;&nbsp;{% if mobile %}Prev{% else %}Previous{% endif %}</div></a>{% endif %}
			<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ rand_meme }}"><div class="button button--small">Random</div></a>
			{% if next_meme %}<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ next_meme }}"><div class="button button--small">Next&nbsp;&nbsp;&#9658;</div></a>{% endif %}
		</div>
		<img class="single-img" height="auto" width="692" src="https://{{ url_short }}/img/memes/{{ img_url }}" alt="{{ page_title }}">
		<div class="button-container button-container--last">
			{% if prev_meme %}<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ prev_meme }}"><div class="button button--small">&#9668;&nbsp;&nbsp;{% if mobile %}Prev{% else %}Previous{% endif %}</div></a>{% endif %}
			<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ rand_meme }}"><div class="button button--small">Random</div></a>
			{% if next_meme %}<a class="btn-link" href="{{ root_domain }}{{ memes_dir | default('memes')}}/{{ next_meme }}"><div class="button button--small">Next&nbsp;&nbsp;&#9658;</div></a>{% endif %}
		</div>

		{% if mobile %}
			<!-- Insticator API Fire Widget --><div id="insticator-container"><div id="div-insticator-ad-1"></div><div id="insticator-embed"></div><div id="div-insticator-ad-2"></div><script data-cfasync='false' type="text/javascript">/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "0235ffb3-a6df-4a1d-b2ef-6e3c668a10bd"})/*]]>*/</script></div><!-- End Insticator API Fire Widget -->                                        
		{% endif %}

		{% if show_youtube_ads and not mobile %}{% endif %}	
		
	</div>
{% endblock %}